@{
  ViewBag.Title = "QuizWiz";
}

<div class="row voffset">
  <div class="col-xs-12">
    @if (this.User.IsInRole("editor")) { 
      <p>@Html.ActionLink("Create Exam >>", "Edit", "Exams", null, new { @class = "btn btn-primary btn-large" })</p>
    }
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group" data-bind="ifnot: exams().length">
      <div class="list-group-item">
        No results found.
      </div>
    </div>
    <div class="list-group" data-bind="foreach: exams">
      <div class="list-group-item">
        <a href="#" data-bind="text: Name" class="list-group-item-heading"></a>
        <p class="list-group-item-text" data-bind="text: Description"></p>
        <a href="#" class="btn btn-default" data-bind="attr: { href: '/exams/edit/' + ExamId }">Edit</a>
        <a href="#" class="btn btn-default" data-bind="click: $parent.delete">Delete</a>
        <a href="#" class="btn btn-default" data-bind="click: $parent.invite">Invite</a>
        <a href="#" class="btn btn-default" data-bind="click: $parent.submissions">Submissions</a>
      </div>
    </div>
    <button class="btn btn-primary btn-lg" data-bind="click: getNext">More</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Send invitations</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <input id="recipients" type="text" placeholder="comma, separated, recipients" class="form-control"/>
          </div>
        </form>
        <p><a id="invitationLink" href="#"></a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="getInvitationLink" type="button" class="btn btn-default">Show Link</button>
        <button id="submitInvite" type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
@section Scripts {
  <script>
    var QuizWiz = (function (mod) {
      var exams = [];

      function ExamsViewModel() {
        var self = this;
        self.current = null;
        self.exams = ko.observableArray(exams);
        self.offset = 0;
        self.getNext = function () {
          $.getJSON('/exams/me', { offset: self.offset, limit: 20 }, function (exams) {
            var i;
            for (i = 0; i < exams.length; i++) {
              self.exams.push(exams[i]);
            }
          });
          self.offset += 20;
        };

        self.delete = function (exam) {
          $.post('/exams/delete/' + exam.ExamId, function () {
            self.exams.remove(exam);
          });
        };

        self.invite = function (exam) {
          self.current = exam;
          $('#myModal').modal('toggle');
        };

        self.submissions = function (exam) {
          self.current = exam;
          window.location = '/submissions/index/?examId=' + self.current.ExamId;
        };

        self.getInvitationLink = function (recipients) {
          $.post('/invitation/invite', { examId: self.current.ExamId, recipients: recipients, showOnly: true}, function (data) {
            $('#invitationLink').html(data.link).attr('href', data.link);
          }, 'json');
        };

        self.sendInvitations = function (recipients) {
          $('#myModal').modal('toggle');
          $.post('/exams/invite', { examId: self.current.ExamId, recipients: recipients});
          self.current = null;
        };

        $.getJSON('/exams/me', { offset: 0, limit: 20 }, self.exams);
        self.offset += 20;
      }

      mod.ExamsViewModel = ExamsViewModel;

      return mod;
    })(QuizWiz || {});

    ko.applyBindings(new QuizWiz.ExamsViewModel());

    $('#submitInvite').click(function () {
      var context = ko.contextFor(this);
      context.$root.sendInvitations($('#recipients').val());
    });

    $('#getInvitationLink').click(function () {
      var context = ko.contextFor(this);
      context.$root.getInvitationLink($('#recipients').val());
    });
  </script>
}
