@{
  ViewBag.Title = "Contact";
}
<hgroup>
  <h2>@ViewBag.Title</h2>
  <h3>@ViewBag.Message</h3>
</hgroup>
<div>
  <address>
    Montreal, QC<br />
    <abbr title="Phone">P:</abbr>555.555.7777
  </address>
  <address>
    <i class="icon-envelope"></i><strong>Support:</strong><a href="mailto:alex.prudencio@gmail.com">alex.prudencio@gmail.com</a>
  </address>
</div>