@{
  ViewBag.Title = "QuizWiz";
}

<div class="jumbotron">
  <h1>QuizWiz</h1>
  <p class="lead">Quiz/Survey application.</p>
  <p>Click @Html.ActionLink("Register", "Register", "Account") or click @Html.ActionLink("Log in", "Login", "Account")</p>
  <p><a href="#" class="btn btn-primary btn-large">Create Exam &raquo;</a></p>
</div>

<h2>Quizzes</h2>

<form class="form-inline" role="form">
  <input type="search" class="form-control" placeholder="Search quiz">
</form>